/problema1/JavaApplication86/nbproject/private/
/problema1/Problema1/nbproject/private/
/problema1/Terreno/nbproject/private/
/problema1/Terreno/build/
/problema1/Terreno/dist/
/problema2/problema2/nbproject/private/
/problema2/horas/nbproject/private/
/problema2/EquivalenteHora/nbproject/private/
/problema2/EquivalenteHora/build/
/problema2/EquivalenteHora/dist/
/problema3/InstitucionesEducativas/nbproject/private/
/problema3/InstitucionesEducativas/build/
/problema4/Dispositivos Electronidos/nbproject/private/
/problema4/Dispositivos Electronidos/build/
